:root {
    --b0: #0000001e;
    --b1: #1100ff2f;
    --b2: #B2B3D4;
    --b3: #8E93F5;
    --b4: #454DFA;
    --b5: #1605ff0a;
    --b6: #f0efff54;
  }

body,
h1,
p,
input,
#codigo,
#br-input {
    font-family: "Poppins", Arial, sans-serif;
}

.background-body {
    background: var(--b0);
}

.container {
    margin: auto;
    padding: 10px;
    max-width: 800px;
  }

.br-background {
    background: var(--b1);
}

.br-principal {
    text-align: center;
}

.br-titulo {
    font-size: 2em;
}

.br-texto {
    font-size: 1.2em;
}

.br-border {
    border-radius: 0px;
    border: 2px solid rgba(0, 0, 0, 0.212);
    width: max-content;
    margin-bottom: 20px;
    padding: 60px;
    background: var(--b1);
}

#codigo {
    font-size: 1.2em;
    background: var(--b6);
    border: none;
    resize: none;
    cursor: pointer;
}

.br-layout {
    display: flex;
    gap: 20px;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#br-input { 
    border-radius: 0px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 2px solid var(--b5);
}

.br-gerar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.layout-botao {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.br-botao {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(var(--b3), var(--b4));
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    font: 600 1.2rem "Poppins", sans-serif;
    color: var(--p5);
    text-transform: uppercase;
    cursor: pointer;
  }
  .br-botao:hover {
    background: linear-gradient(var(--b2), var(--b3));
  }
